.group-child91 {
  position: absolute;
  top: 487px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 474px;
}
.baseline-more-vert-24px-icon7 {
  position: absolute;
  top: 764px;
  left: 644px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.education6,
.tax-benefits-for3 {
  position: absolute;
  top: 728px;
  left: 20px;
  font-weight: 500;
}
.tax-benefits-for3 {
  top: 763px;
  font-size: var(--font-size-3xl);
  line-height: 134.55%;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.group-child92 {
  position: absolute;
  top: 488px;
  left: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  width: 692px;
  height: 220px;
  object-fit: cover;
}
.ive-worked-in6 {
  position: absolute;
  top: 835px;
  left: 20px;
  font-size: var(--font-size-lgi);
  line-height: 134.17%;
  color: var(--color-dimgray-200);
  display: inline-block;
  width: 652px;
}
.group-child93 {
  position: absolute;
  top: 892px;
  left: 20px;
  border-radius: var(--br-5xl);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.sarah-west5 {
  position: absolute;
  top: 904px;
  left: 78px;
  font-weight: 600;
}
.iconactionvisibility-24px8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
}
.k-views8 {
  position: absolute;
  top: 0;
  left: 26px;
  font-weight: 500;
}
.group7 {
  position: absolute;
  top: 907px;
  left: 495px;
  width: 95px;
  height: 18px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.group-child94,
.group-child95 {
  position: absolute;
  top: 975px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 492px;
}
.group-child95 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  border: 0.7px solid var(--color-darkgray-100);
  width: 652px;
  height: 38px;
}
.visit-website1 {
  position: absolute;
  top: 10px;
  left: 286px;
  line-height: 140.4%;
  font-weight: 600;
}
.rectangle-parent50 {
  position: absolute;
  top: 1328px;
  left: 20px;
  width: 652px;
  height: 38px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-tomato);
}
.outline-location-on-24px-icon2 {
  position: absolute;
  top: 0;
  left: 206px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.ahmedabad-india1,
.fri-12-oct1 {
  position: absolute;
  top: 0;
  left: 230px;
  font-weight: 500;
}
.fri-12-oct1 {
  left: 24px;
  display: inline-block;
  width: 142px;
}
.baseline-today-24px-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.outline-location-on-24px-container {
  position: absolute;
  top: 1292px;
  left: 20px;
  width: 358px;
  height: 20px;
  font-size: var(--font-size-mini);
}
.baseline-more-vert-24px-icon8 {
  position: absolute;
  top: 1210px;
  left: 872px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.finance-investment1,
.meetup1 {
  position: absolute;
  top: 1216px;
  left: 20px;
  font-weight: 500;
}
.finance-investment1 {
  top: 1251px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.group-child96,
.group-child97 {
  position: absolute;
  top: 976px;
  left: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  width: 692px;
  height: 220px;
  object-fit: cover;
}
.group-child97 {
  top: 0;
  border-radius: var(--br-5xl);
  width: 48px;
  height: 48px;
}
.ronal-jones1 {
  position: absolute;
  top: 12px;
  left: 58px;
  font-weight: 600;
}
.group8,
.rectangle-parent51 {
  position: absolute;
  top: 1398px;
  left: 20px;
  width: 160px;
  height: 48px;
}
.group8 {
  top: 1413px;
  left: 495px;
  width: 95px;
  height: 18px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.group-child98 {
  position: absolute;
  top: 1481px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 271px;
}
.group9 {
  position: absolute;
  top: 1698px;
  left: 495px;
  width: 95px;
  height: 18px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.baseline-more-vert-24px-icon9 {
  position: absolute;
  top: 1496px;
  left: 872px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.job4,
.software-developer1 {
  position: absolute;
  top: 1502px;
  left: 20px;
  font-weight: 500;
}
.software-developer1 {
  top: 1537px;
  font-size: var(--font-size-3xl);
  line-height: 134.55%;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.group-child99 {
  position: absolute;
  top: 1641px;
  left: 220px;
  border-radius: var(--br-5xl);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.joseph-gray1 {
  position: absolute;
  top: 1695px;
  left: 78px;
  font-weight: 600;
}
.outline-location-on-24px-icon3 {
  position: absolute;
  top: 0;
  left: 290px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.innovaccer-analytics-private1,
.noida-india2 {
  position: absolute;
  top: 0;
  left: 314px;
  font-weight: 500;
}
.innovaccer-analytics-private1 {
  left: 24px;
}
.outline-location-on-24px-parent1 {
  position: absolute;
  top: 1579px;
  left: 20px;
  width: 399px;
  height: 20px;
  font-size: var(--font-size-mini);
}
.group-child100 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 650px;
  height: 36px;
}
.apply-on-timesjobs1 {
  position: absolute;
  top: 9px;
  left: 266px;
  line-height: 140.4%;
  font-weight: 600;
}
.rectangle-parent52 {
  position: absolute;
  top: 1615px;
  left: 22px;
  width: 650px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-mediumseagreen-100);
}
.group-child101 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 474px;
}
.group-child102 {
  position: absolute;
  top: 276px;
  left: 644px;
  width: 28px;
  height: 28px;
}
.article6,
.what-if-famous3 {
  position: absolute;
  top: 240px;
  left: 20px;
  font-weight: 500;
}
.what-if-famous3 {
  top: 275px;
  font-size: var(--font-size-3xl);
  line-height: 134.17%;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.group-child103 {
  position: absolute;
  top: 42px;
  left: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  width: 692px;
  height: 220px;
  object-fit: cover;
}
.ive-worked-in7 {
  position: absolute;
  top: 347px;
  left: 20px;
  font-size: var(--font-size-lgi);
  line-height: 134.17%;
  color: var(--color-dimgray-200);
  display: inline-block;
  width: 652px;
}
.group10 {
  position: absolute;
  top: 419px;
  left: 495px;
  width: 95px;
  height: 18px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.group-child104 {
  position: absolute;
  top: 404px;
  left: 20px;
  border-radius: var(--br-5xl);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.sarthak-kamra5 {
  position: absolute;
  top: 416px;
  left: 78px;
  font-weight: 600;
}
.group-child105,
.group-child106,
.group-child107,
.group-child108 {
  position: absolute;
  height: 2.06%;
  width: 6.07%;
  top: 23.42%;
  right: 2.89%;
  bottom: 74.53%;
  left: 91.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child106,
.group-child107,
.group-child108 {
  top: 51.28%;
  bottom: 46.66%;
}
.group-child107,
.group-child108 {
  top: 77.78%;
  right: -26.01%;
  bottom: 20.16%;
  left: 119.94%;
}
.group-child108 {
  top: 94.06%;
  bottom: 3.88%;
}
.group-child109,
.group-child110 {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
}
.group-child109 {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16), 0 0 2px rgba(0, 0, 0, 0.08);
  height: 102px;
}
.group-child110 {
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 32px;
  opacity: 0;
}
.edit1 {
  position: absolute;
  top: 7px;
  left: 12px;
}
.rectangle-parent54 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 160px;
  height: 32px;
  text-align: right;
}
.rectangle-parent53,
.rectangle-parent55,
.rectangle-parent56 {
  position: absolute;
  top: 35px;
  left: 0;
  width: 160px;
  height: 32px;
}
.rectangle-parent53,
.rectangle-parent56 {
  top: 66px;
}
.rectangle-parent53 {
  top: 1284px;
  left: 512px;
  height: 102px;
  font-size: var(--font-size-sm);
}
.rectangle-parent49 {
  position: absolute;
  top: -42px;
  left: 200px;
  width: 692px;
  height: 1751px;
  font-size: var(--font-size-lg);
}
.rectangle11,
.rectangle12 {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 122px;
}
.rectangle12 {
  top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  height: 72px;
}
.baseline-arrow-drop-down-24px-icon4 {
  position: absolute;
  top: 7px;
  left: 156px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.group-child113 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.siddharth-goyal2 {
  position: absolute;
  top: 9px;
  left: 48px;
  display: inline-block;
  width: 104px;
}
.baseline-arrow-drop-down-24px-parent,
.whole-icon3 {
  position: absolute;
  top: 18px;
  left: 1062px;
  width: 178px;
  height: 36px;
}
.whole-icon3 {
  top: 24px;
  left: 72px;
  width: 162.57px;
  height: 24px;
  overflow: hidden;
}
.rectangle13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-whitesmoke-300);
  width: 360px;
  height: 42px;
}
.group-child114 {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 22px;
  height: 22px;
}
.search-for-your3 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-ibm-plex-sans);
  font-size: var(--font-size-sm);
  background-color: transparent;
  position: absolute;
  top: 12px;
  left: 50px;
  color: var(--color-dimgray-200);
  text-align: left;
}
.rectangle-parent57 {
  position: absolute;
  top: 16px;
  left: 540px;
  width: 360px;
  height: 42px;
}
.line7 {
  top: 139.5px;
  left: 199.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  width: 1041px;
}
.line7,
.line8,
.logged-in-user-scrolled-fo-child {
  position: absolute;
  box-sizing: border-box;
  height: 1px;
}
.line8 {
  top: 83.5px;
  left: 71.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  width: 1297px;
  opacity: 0;
}
.logged-in-user-scrolled-fo-child {
  top: 139.5px;
  left: 199.5px;
  border-top: 1px solid var(--color-black);
  width: 94px;
}
.all-posts323 {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-black);
}
.article7 {
  position: absolute;
  top: 0;
  left: 113px;
}
.education7,
.event3,
.job5 {
  position: absolute;
  top: 0;
  left: 180px;
}
.education7,
.job5 {
  left: 239px;
}
.job5 {
  left: 331px;
}
.all-posts32-parent1 {
  position: absolute;
  top: 99px;
  left: 200px;
  width: 358px;
  height: 21px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.group-child115 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 492px;
}
.rectangle-parent59 {
  position: absolute;
  top: 352px;
  left: 20px;
  width: 652px;
  height: 38px;
  text-align: center;
  color: var(--color-tomato);
}
.outline-location-on-24px-parent2 {
  position: absolute;
  top: 316px;
  left: 20px;
  width: 358px;
  height: 20px;
  font-size: var(--font-size-mini);
}
.baseline-more-vert-24px-icon10 {
  position: absolute;
  top: 276px;
  left: 672px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.finance-investment2,
.meetup2 {
  position: absolute;
  top: 240px;
  left: 20px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.finance-investment2 {
  top: 275px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.group-child117 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  width: 692px;
  height: 220px;
  object-fit: cover;
}
.iconactionvisibility-24px12 {
  position: absolute;
  top: 15px;
  left: 557px;
  width: 18px;
  height: 18px;
}
.k-views12,
.ronal-jones2 {
  position: absolute;
  top: 15px;
  left: 583px;
  font-weight: 500;
}
.ronal-jones2 {
  top: 12px;
  left: 58px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-black);
  text-align: left;
}
.iconactionvisibility-24px-parent {
  position: absolute;
  top: 422px;
  left: 20px;
  width: 652px;
  height: 48px;
  text-align: right;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
}
.rectangle-parent58 {
  position: absolute;
  top: 1144px;
  left: 200px;
  width: 692px;
  height: 490px;
  font-size: var(--font-size-smi);
}
.group-child119 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 0.8px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 134px;
  height: 36px;
}
.leave-group2 {
  position: absolute;
  top: 8px;
  left: 38px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-ibm-plex-sans);
  color: var(--color-dimgray-100);
  text-align: left;
}
.outline-exit-to-app-24px-icon2 {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.rectangle-parent60 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 92px;
  left: 1106px;
  width: 134px;
  height: 36px;
}
.group-child120 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-400);
  width: 133px;
  height: 36px;
}
.write-a-post3 {
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-ibm-plex-sans);
  color: var(--color-black);
  text-align: left;
}
.baseline-arrow-drop-down-24px-icon5 {
  position: absolute;
  top: 7px;
  left: 105px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.rectangle-parent61 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 92px;
  left: 957px;
  width: 133px;
  height: 36px;
}
.logged-in-user-scrolled-fo-item {
  position: absolute;
  top: 224.8px;
  left: 994.8px;
  border-top: 0.4px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 243.4px;
  height: 0.4px;
}
.enter-your-location {
  color: var(--color-gray-300);
}
.enter-your-location-container {
  position: absolute;
  top: 196px;
  left: 1017px;
}
.outline-location-on-24px-2-icon3 {
  position: absolute;
  top: 196px;
  left: 995px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.your-location-will3 {
  position: absolute;
  top: 0;
  left: 23px;
  display: inline-block;
  width: 220px;
  opacity: 0.5;
}
.baseline-error-outline-24px-icon3 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  opacity: 0.5;
}
.your-location-will-help-us-ser-parent1 {
  position: absolute;
  top: 257px;
  left: 995px;
  width: 243px;
  height: 32px;
  font-size: var(--font-size-xs);
}
.recommended-groups {
  position: absolute;
  top: 343px;
  left: 1017px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.logged-in-user-scrolled-fo-inner {
  position: absolute;
  top: 385px;
  left: 995px;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.leisure {
  position: absolute;
  top: 394px;
  left: 1043px;
  display: inline-block;
  width: 104px;
}
.logged-in-user-scrolled-fo-child1 {
  position: absolute;
  top: 391px;
  left: 1162px;
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  width: 73px;
  height: 24px;
}
.followed,
.logged-in-user-scrolled-fo-child2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.followed {
  background-color: transparent;
  top: 395px;
  left: 1174px;
  font-size: var(--font-size-xs);
  font-family: var(--font-ibm-plex-sans);
  color: var(--color-white);
  text-align: right;
  display: inline-block;
}
.logged-in-user-scrolled-fo-child2 {
  background-color: var(--color-whitesmoke-400);
  top: 449px;
  left: 1175px;
  border-radius: var(--br-sm);
  width: 60px;
  height: 24px;
}
.logged-in-user-scrolled-fo-child3 {
  position: absolute;
  top: 443px;
  left: 995px;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.activism {
  position: absolute;
  top: 452px;
  left: 1043px;
  display: inline-block;
  width: 104px;
}
.follow {
  position: absolute;
  top: 453px;
  left: 1187px;
  font-size: var(--font-size-xs);
  text-align: center;
}
.logged-in-user-scrolled-fo-child4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-whitesmoke-400);
  position: absolute;
  top: 507px;
  left: 1175px;
  border-radius: var(--br-sm);
  width: 60px;
  height: 24px;
}
.logged-in-user-scrolled-fo-child5 {
  position: absolute;
  top: 501px;
  left: 995px;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.follow1,
.mba {
  position: absolute;
}
.follow1 {
  top: 511px;
  left: 1187px;
  font-size: var(--font-size-xs);
  text-align: center;
}
.mba {
  top: 510px;
  left: 1043px;
  display: inline-block;
  width: 104px;
}
.logged-in-user-scrolled-fo-child6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-whitesmoke-400);
  position: absolute;
  top: 565px;
  left: 1175px;
  border-radius: var(--br-sm);
  width: 60px;
  height: 24px;
}
.follow2 {
  position: absolute;
  top: 569px;
  left: 1187px;
  font-size: var(--font-size-xs);
  text-align: center;
}
.logged-in-user-scrolled-fo-child7 {
  position: absolute;
  top: 559px;
  left: 995px;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.philosophy {
  position: absolute;
  top: 568px;
  left: 1043px;
  display: inline-block;
  width: 104px;
}
.vector-icon1 {
  height: 1.76%;
  width: 1.25%;
  top: 33.5%;
  right: 29.65%;
  bottom: 64.75%;
  left: 69.1%;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  height: 1.05%;
  width: 0.63%;
  top: 33.84%;
  right: 29.81%;
  bottom: 65.11%;
  left: 69.57%;
  opacity: 0.3;
}
.vector-icon3 {
  height: 1.46%;
  width: 1.15%;
  top: 33.57%;
  right: 29.7%;
  bottom: 64.97%;
  left: 69.15%;
}
.baseline-clear-24px-icon {
  position: absolute;
  top: 195px;
  left: 1218px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.see-more2 {
  position: absolute;
  top: 649px;
  left: 1175px;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue-100);
  text-align: right;
}
.logged-in-user-scrolled-fo {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
}
